
body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:  Neue Montreal;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #606c38;
    color: #fefae0;
    border-bottom: 40px solid #fefae0;
    border-radius: 4px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
  transition: transform ease .5s, box-shadow ease .5s;
}


    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */



.card:hover {
    

      transform: translateY(-10px);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);

    }
    
    
  
.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

